@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 90s linear infinite;
}

@layer base {
  @font-face {
    font-family: "Mories";
    font-style: normal;
    src: url("./fonts/Mories.ttf");
  }
  @font-face {
    font-family: "sequel";
    font-style: normal;
    src: url("./fonts/sequel-sans-book-disp.ttf");
  }
}
.mories {
  font-family: "Mories";
  font-weight: 400;
}

:root {
  --colorYellow: #fff6c2;
  --second-color: #000000;
  font-family: "Mories";
}
