@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 90s linear infinite;
}
.snap {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.snap-item {
  scroll-snap-align: start;
  margin: 0;
}

@font-face {
  font-family: "AddingtonCF-thin";
  src: url("/font/AddingtonCF-Thin.ttf");
}
@font-face {
  font-family: "NeueHaas Medium";
  font-style: normal;
  src: url("/font/NeueHaasDisplayMediu.ttf");
}
@font-face {
  font-family: "NeueHaas Ligth";
  src: url("/font/NeueHaasDisplayLight.ttf");
}
@font-face {
  font-family: "NeueHaas Thin";
  src: url("/font/NeueHaasDisplayThin.ttf");
}
@font-face {
  font-family: "NeueHaas Roman";
  src: url("/font/NeueHaasDisplayRoman.ttf");
}
.AddingtonCF-thin {
  font-family: "AddingtonCF-thin";
  @apply tracking-[0.2rem];
}

.NeueHaas-Medium {
  font-family: "NeueHaas Medium";
}
.NeueHaas-Ligth {
  font-family: "NeueHaas Ligth";
}
.NeueHaas-Thin {
  font-family: "NeueHaas Thin";
}
.NeueHassRoman {
  font-family: "NeueHaas Roman";
}
.notFound {
  -webkit-text-stroke: 2px var(--second);
  -webkit-text-fill-color: #ffffff00;
}
html {
  @apply overflow-x-hidden xl:text-[1vw] xs:text-[3vw] sm:text-[1.5vw] lg:text-[1vw] scroll-smooth bg-black;
}
body,
#root {
  width: 100%;
  height: 100vh;
  position: relative;
}
:root {
  --primary: #282828;
  --second: #fff6c2;
  --tercero: #e7e5da;
  --bg-clar: #fffae6;
  --hoverBlack: #3d3d3d;
  --thirty: #e1c149;
  --borderOpacity: #ddc7b870;
  --borderCircle: #4747475c;
  --colorYellow: #fff6c2;
  --bg-black: #19171b;
  font-family: "NeueHaas Medium", "san serif";
  @apply tracking-[0.1rem];
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply py-3 px-5 rounded-full transition-all duration-300;
}
.btn-home {
  @apply bg-[--second] border border-[--second] text-[--primary] hover:bg-white text-base;
}
.edicion button {
  @apply py-2 text-white bg-black hover:bg-[--hoverBlack] NeueHaas-Medium;
}

a {
  font-weight: 500;
  color: var(--second);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  @apply border-[--borderOpacity];
}
.backgroundStyle {
  @apply fixed pointer-events-none top-0 left-0 z-20 w-full h-full;
  background: linear-gradient(
    90deg,
    rgb(59 52 16 / 24%) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(255, 255, 255, 0) 80%,
    rgb(59 52 16 / 24%) 100%
  );
}
img,
svg {
  @apply w-full h-full object-contain;
}

.text-shadow {
  text-shadow: 0px 0px 1px var(--second);
}
input {
  @apply w-full bg-transparent  focus:outline-none text-sm;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pasosNumer {
  @apply text-shadow absolute w-4 h-4 text-[0.5rem] flex items-center justify-center border border-[--second] rounded-full;
}
.slick-track {
  @apply flex items-center justify-start;
}
.slick-slide {
  @apply pointer-events-none;
}
.slick-slide.slick-active {
  @apply pointer-events-auto;
}

.shadowbox {
  box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.253);
}
.custom_Shadow {
  @apply shadowbox;
  transition: all 0.3s ease-in-out;
}

.custom_Shadow:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 900px;
  box-shadow: -2px 3px 6px 0px #a3a3a3;
  transform: translate(-50%, -50%);
}

.slick-track,
.slick-list,
.slick-slide,
.slick-slide > div,
.slick-slide > div > div {
  height: 100%;
}
.section {
  @apply w-full h-screen text-[--second];
}
.bg-video {
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 97%) 0%,
    rgba(255, 255, 255, 0) 14%,
    rgba(255, 255, 255, 0) 86%,
    rgb(0 0 0) 100%
  );
}

.videoCard {
  @apply opacity-100;
}

.videoCard .contenidoCard {
  @apply hidden;
}

.firstVideo {
  @apply bottom-0 left-0 h-[49.5%] w-full;
}
.thirtVideo {
  @apply top-0 right-0 h-[49.5%] w-[49.5%];
}
.secondVideo {
  @apply top-0 left-0 h-[49.5%] w-[49.5%];
}
/*Hamburgesa*/
.lineBurger {
  @apply absolute w-full h-[2px] rounded-full transition-all ease-in-out duration-500;
}
.lineBurger1 {
  @apply top-0;
}
.lineBurger2 {
  @apply top-1/2 translate-y-[-50%];
}
.lineBurger3 {
  @apply bottom-0;
}
.active .lineBurger1 {
  @apply rotate-[45deg] top-2;
}
.active .lineBurger2 {
  @apply absolute top-2 rotate-[-45deg] translate-y-0;
}
.active .lineBurger3 {
  @apply absolute bottom-0 opacity-0 invisible;
}
.lineBurger.active {
  @apply absolute top-0;
}
