@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 90s linear infinite;
}

@font-face {
  font-family: "Mories";
  font-style: normal;
  src: url("/font/Mories.ttf");
}
@font-face {
  font-family: "sequel";
  font-style: normal;
  src: url("/font/sequel-sans-book-disp.ttf");
}

@font-face {
  font-family: "AddingtonCF-thin";
  src: url("/font/AddingtonCF-Thin.ttf");
}
@font-face {
  font-family: "AddingtonCF-light";
  src: url("/font/AddingtonCF-Light.ttf");
}
@font-face {
  font-family: "AddingtonCF-regular";
  src: url("/font/AddingtonCF-Regular.ttf");
}
@font-face {
  font-family: "NeueHaas Bold";
  src: url("/font/NeueHaasDisplayBold.ttf");
}
@font-face {
  font-family: "NeueHaas Thin";
  src: url("/font/NeueHaasDisplayThin.ttf");
}
@font-face {
  font-family: "NeueHaas Roman";
  src: url("/font/NeueHaasDisplayRoman.ttf");
}
html {
  @apply xl:text-[1vw] xs:text-[3vw] sm:text-[1.5vw] lg:text-[1vw] scroll-smooth bg-black;
}
body,
#root {
  width: 100%;
  height: 100vh;
}
:root {
  --primary: #282828;
  --second: #fff6c2;
  --bg-clar: #fffae6;
  --thirty: #e1c149;
  --borderOpacity: #fffae614;
  --borderCircle: #4747475c;
  --colorYellow: #fff6c2;
  --bg-black: #19171b;
  font-family: "Mories";
  letter-spacing: 0.25em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.NeueHassRoman{
  font-family: "NeueHaas Roman";
  @apply tracking-[0.2rem];
}
.AddingtonCF-thin {
  font-family: "AddingtonCF-thin";
  @apply tracking-[0.2rem];
}
.moires {
  font-family: "Mories";
  @apply tracking-[0.3rem] uppercase;
}
.AddingtonCF-regular {
  font-family: "AddingtonCF-regular";
  @apply tracking-[0.2rem];
}
.AddingtonCF-light {
  font-family: "AddingtonCF-light";
  @apply tracking-[0.2rem];
  -webkit-text-stroke: 0.2px black;
}
.NeueHaas-Bold {
  font-family: "NeueHaas Bold";
}
.NeueHaas-Thin {
  font-family: "NeueHaas Thin";
}
.number {
  @apply NeueHaas-Thin tracking-wider;
}
.numberBold {
  @apply NeueHaas-Bold tracking-wider;
}

a {
  font-weight: 500;
  color: var(--second);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.edicion button {
  @apply uppercase text-center rounded-md border-2 border-[--primary] py-2.5 pl-5 pr-3.5 transition-all duration-300 bg-black text-[#FFFAE6]  cursor-pointer text-base;
}
.edicion button:hover {
  @apply border-[--thirty] text-black bg-[#e1c149];
}
.home button {
  @apply uppercase text-center rounded-md border border-[--colorYellow] transition-all duration-300 bg-transparent text-[--colorYellow] cursor-pointer text-base;
}
.home button:hover {
  @apply border-[--colorYellow] text-[--primary] bg-[--colorYellow];
}
.edicion .editorbtn {
  @apply bg-transparent text-[0.5rem] text-[--second] border border-[--borderOpacity] py-1 px-2;
}
.edicion .btncapture {
  @apply bg-[--second] hover:bg-[#ffffff50] rounded-full shadowbox border-none;
}
hr {
  @apply border-[--borderOpacity];
}
.backgroundStyle {
  @apply fixed pointer-events-none top-0 left-0 z-20 w-full h-full;
  background: linear-gradient(
    90deg,
    rgb(59 52 16 / 24%) 0%,
    rgba(255, 255, 255, 0) 16%,
    rgba(255, 255, 255, 0) 80%,
    rgb(59 52 16 / 24%) 100%
  );
}
img,
svg {
  @apply w-full h-full object-contain;
}
.line {
  @apply w-full h-0.5;
}

.text-shadow {
  text-shadow: 0px 0px 1px var(--second);
}
input {
  @apply w-full bg-transparent uppercase focus:outline-none;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pasosNumer {
  @apply text-shadow absolute w-4 h-4 text-[0.5rem] flex items-center justify-center border border-[--second] rounded-full;
}
.slick-track {
  @apply flex items-center justify-start;
}
.slick-slide {
  @apply pointer-events-none;
}
.slick-slide.slick-active {
  @apply pointer-events-auto;
}

.shadowbox {
  box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.253);
}
.custom_Shadow {
  @apply shadowbox;
  transition: all 0.3s ease-in-out;
}

.custom_Shadow:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 900px;
  box-shadow: -2px 3px 6px 0px #a3a3a3;
  transform: translate(-50%, -50%);
}

.slick-track,
.slick-list,
.slick-slide,
.slick-slide > div,
.slick-slide > div > div {
  height: 100%;
}
.section {
  @apply w-full h-screen text-[--second];
}
.bg-video {
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 97%) 0%,
    rgba(255, 255, 255, 0) 14%,
    rgba(255, 255, 255, 0) 86%,
    rgb(0 0 0) 100%
  );
}

.btn-home {
  @apply moires bg-[--second] border border-[--second] text-[--primary] py-2.5 pl-5 pr-3.5 transition-all duration-300 rounded-md
  hover:bg-[#ffffff00] hover:text-[--second];
  -webkit-text-stroke: 1px var(--primary);
}
.btn-home:hover {
  -webkit-text-stroke: 0.5px var(--second);
}
